header.header
    .header-top
        .container
            .header-top__logo
                <img src="static/images/content/logo.png" alt="Логотип">
            nav.header-nav
                ul.header-nav__list
                    li.header-nav__item
                        a(href="#").header-nav__link Home
                    li.header-nav__item
                        a(href="#").header-nav__link Destination
                    li.header-nav__item
                        a(href="#").header-nav__link Discount
                    li.header-nav__item
                        a(href="#").header-nav__link About
                    li.header-nav__item
                        a(href="#").header-nav__link Blog
                    li.header-nav__item
                        a(href="#").header-nav__link Contact
                .sandwich
                    .sandwich__line.sandwich__line--top
                    .sandwich__line.sandwich__line--middle
                    .sandwich__line.sandwich__line--bottom
    .header-main
        .header-main__title
            h1.header-main__title-big Start Your Greatest
            h2.header-main__title-small Adventure with us!
            p.header-main__title-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        a(href="#").header-main__btn.btn-big Click here
        