section.best-services-s
    .container
        .best-services__header
            h1.title-section.title-section--big Our Best Services
            h1.title-section.title-section--small We are Travel Agent
        .best-services
            .best-services__firstblock.best-services__column
                .best-services__item
                    .best-services__icon-wrapper
                        span.best-services__icon.best-services__icon--1
                    .best-services__info
                        .best-services__info-title Lorem Ipsum Dolor Sit
                        .best-services__info-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                .best-services__item
                    .best-services__icon-wrapper
                        span.best-services__icon.best-services__icon--2
                    .best-services__info
                        .best-services__info-title Lorem Ipsum Dolor Sit
                        .best-services__info-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                .best-services__item
                    .best-services__icon-wrapper
                        span.best-services__icon.best-services__icon--3
                    .best-services__info
                        .best-services__info-title Lorem Ipsum Dolor Sit
                        .best-services__info-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
            .best-services__secondblock.best-services__column
                .best-services__item
                    .best-services__icon-wrapper
                        span.best-services__icon.best-services__icon--4
                    .best-services__info
                        .best-services__info-title Lorem Ipsum Dolor Sit
                        .best-services__info-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                .best-services__item
                    .best-services__icon-wrapper
                        span.best-services__icon.best-services__icon--5
                    .best-services__info
                        .best-services__info-title Lorem Ipsum Dolor Sit
                        .best-services__info-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                .best-services__item
                    .best-services__icon-wrapper
                        span.best-services__icon.best-services__icon--6
                    .best-services__info
                        .best-services__info-title Lorem Ipsum Dolor Sit
                        .best-services__info-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
            