section.contact-s
    .contact-top
        .contact-top__header
            h1.title-section.title-section--big Start Your Journey
            h1.title-section.title-section--small Contact us
        .contact-top__icon
            +icon('location', 'contact-top__icon-location')
    .container
        .contact-connection
            .contact-connection__item
                .contact-connection__icon-wrapper
                    +icon('email', 'contact-connection__icon-email')
                .contact-connection__info
                    span.contact-connection__info-title Email
                    span.contact-connection__info-text travel616@.com
            .contact-connection__item
                .contact-connection__icon-wrapper
                    +icon('phone', 'contact-connection__icon-phone')
                .contact-connection__info
                    span.contact-connection__info-title Call Us !
                    span.contact-connection__info-text +123 456 7890
            .contact-connection__item
                .contact-connection__icon-wrapper
                    +icon('map', 'contact-connection__icon-map')
                .contact-connection__info
                    span.contact-connection__info-title Address
                    span.contact-connection__info-text 123, Main Road, New City,<br/> My Country 123456
        .contact-social
            ul.contact-social__list
                .contact-social__list-block
                    a(href="javascript:void(0)").contact-social__item.contact-social__item--fc
                    a(href="javascript:void(0)").contact-social__item.contact-social__item--g
                    a(href="javascript:void(0)").contact-social__item.contact-social__item--vk
                    a(href="javascript:void(0)").contact-social__item.contact-social__item--yt
                .contact-social__list-block
                    a(href="javascript:void(0)").contact-social__item.contact-social__item--in
                    a(href="javascript:void(0)").contact-social__item.contact-social__item--dg
                    a(href="javascript:void(0)").contact-social__item.contact-social__item--xz