section.find-hotels-s
    .container
        .find-hotels__header
            h1.title-section.title-section--big Find Hotels
        .find-hotels
            .find-hotels__item.find-hotels__item--location
                span.find-hotels__text Where?
                input(type="text" placeholder="Location").find-hotels__input
            .find-hotels__item.find-hotels__item--middle
                span.find-hotels__text Check in
                input(type="text" placeholder="DD-MM-YYYY").find-hotels__input
            .find-hotels__item.find-hotels__item--middle
                span.find-hotels__text Check out
                input(type="text" placeholder="DD-MM-YYYY").find-hotels__input
            .find-hotels__item.find-hotels__item--small
                span.find-hotels__text Adult
                input(type="text" placeholder="01").find-hotels__input
            .find-hotels__item.find-hotels__item--small
                span.find-hotels__text Child
                input(type="text" placeholder="00").find-hotels__input
            a(href="#").find-hotels__btn.btn Click Here
