section.offer-s
    .offer-price
        .offer-price__header
            span.item-section__text-title New York + Paris
            span.item-section__text-info 7 Day + 6 Night
        .offer-price__services
            .offer-price__services-item
                span.offer-price__services-icon.offer-price__services-icon--flight
                span.offer-price__services-text Flight
            .offer-price__services-item
                span.offer-price__services-icon.offer-price__services-icon--hotel
                span.offer-price__services-text Hotel
            .offer-price__services-item
                span.offer-price__services-icon.offer-price__services-icon--car
                span.offer-price__services-text Transport
        p.text-section Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .offer-price__bottom
            span.offer-price__bottom-number $1000
            a(href="#").btn Book Now