section.pack-s
    .container
        .pack__header
            h1.title-section.title-section--big Pack and Go
            h1.title-section.title-section--small Awesome Tours
        .pack
            .item-section
                .item-section__picture
                    img(alt="картинка" src="static/images/content/pack-1.jpg").item-section__picture-img.item-section__picture-img--pack-1
                .item-section__text
                    span.item-section__text-info 7 Day + 6 Night
                    span.item-section__text-title New York + Paris
                    span.item-section__text-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    span.item-section__text-price $600
                a(href="#").btn Book Now
            .item-section.item-section--big
                .item-section__picture
                    img(alt="картинка" src="static/images/content/pack-2.jpg").item-section__picture-img.item-section__picture-img--pack-2
                .item-section__text
                    span.item-section__text-info 7 Day + 6 Night
                    span.item-section__text-title New York + Paris
                    span.item-section__text-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    span.item-section__text-price $1000
                a(href="#").btn Book Now
            .item-section
                .item-section__picture
                    img(alt="картинка" src="static/images/content/pack-3.jpg").item-section__picture-img.item-section__picture-img--pack-3
                .item-section__text
                    span.item-section__text-info 7 Day + 6 Night
                    span.item-section__text-title New York + Paris
                    span.item-section__text-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    span.item-section__text-price $800
                a(href="#").btn Book Now
