section.reviews-s
    .reviews
        .reviews__header
            h1.title-section.title-section--big Customer Reviews
            h1.title-section.title-section--small We are Travel Agent
        p.reviews__descr.text-section ”Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.”
        .reviews-rating
            img(alt="рейтинг" src="static/images/content/reviews-rating.png")
        .reviews-bio
            .reviews-bio__photo
                img(alt="фото" src="static/images/content/photo.png")
            .reviews-bio__info
                span.reviews-bio__info-name John Smith
                span.reviews-bio__info-job Solo Traveller