section.trusted-travel-s
    .container
        .trusted-travel__header
            h1.title-section.title-section--big Trusted Since 2001
            h1.title-section.title-section--small Go Exploore
        .trusted-travel
            .item-section.trusted-travel__item
                .item-section__picture
                    img(alt="картинка" src="static/images/content/trusted-travel-1.jpg").item-section__picture-img
                a(href="#").trusted-travel__btn.btn Click here
                .item-section__text
                    span.item-section__text-title New York + Paris
                    span.item-section__text-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            .item-section.trusted-travel__item
                .item-section__picture
                    img(alt="картинка" src="static/images/content/trusted-travel-2.jpg").item-section__picture-img
                a(href="#").trusted-travel__btn.btn Click here
                .item-section__text
                    span.item-section__text-title New York + Paris
                    span.item-section__text-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            .item-section.trusted-travel__item
                .item-section__picture
                    img(alt="картинка" src="static/images/content/trusted-travel-3.jpg").item-section__picture-img
                a(href="#").trusted-travel__btn.btn Click here
                .item-section__text
                    span.item-section__text-title New York + Paris
                    span.item-section__text-descr Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
