section.trusted-info-s
    .container
        .trusted-info
            .trusted-info__image
                img(alt="фото" src="static/images/content/trusted-info.jpg")
            .trusted-info__right
                .trusted-info__header
                    h1.title-section.title-section--big Trusted Since 2001
                    h1.title-section.title-section--small We are Travel Agent
                .trusted-info__services
                    .trusted-info__services-item.trusted-info__services-item--flight
                        span.trusted-info__services-icon.trusted-info__services-icon--1
                        span.trusted-info__services-text Flight
                    .trusted-info__services-item.trusted-info__services-item--cub
                        span.trusted-info__services-icon.trusted-info__services-icon--2
                        span.trusted-info__services-text Cab
                    .trusted-info__services-item.trusted-info__services-item--hotel
                        span.trusted-info__services-icon.trusted-info__services-icon--3
                        span.trusted-info__services-text Hotel
                p.trusted-info__descr.text-section Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                a(href="#").trusted-info__btn.btn-big Click here