section.trusted-price-s
    .container
        .trusted-price__header
            h1.title-section.title-section--big Trusted Since 2001
            h1.title-section.title-section--small We are Travel Agent
        .trusted-price
            .trusted-price__item
                .trusted-price__item-icon-wrapper
                    span.trusted-price__item-icon.trusted-price__item-icon--1
                span.trusted-price__item-text Low Budget Trip
                .trusted-price__item-cost $500
                .trusted-price__item-advantages.trusted-price-advantages
                    .trusted-price-advantages__item
                        +icon('check', 'trusted-price-advantages__icon')
                        span.trusted-price-advantages__text Lorem ipsum dolor
                    .trusted-price-advantages__item
                        +icon('check', 'trusted-price-advantages__icon')
                        span.trusted-price-advantages__text Sit amet consect
                    .trusted-price-advantages__item
                        +icon('check', 'trusted-price-advantages__icon')
                        span.trusted-price-advantages__text Eturadipiscing elit
                    .trusted-price-advantages__item
                        +icon('check', 'trusted-price-advantages__icon')
                        span.trusted-price-advantages__text Psum dolor
            .trusted-price__item
                .trusted-price__item-icon-wrapper
                    span.trusted-price__item-icon.trusted-price__item-icon--2
                span.trusted-price__item-text Mid Budget Trip
                .trusted-price__item-cost $500
                .trusted-price__item-advantages.trusted-price-advantages
                    .trusted-price-advantages__item
                        +icon('check', 'trusted-price-advantages__icon')
                        span.trusted-price-advantages__text Lorem ipsum dolor
                    .trusted-price-advantages__item
                        +icon('check', 'trusted-price-advantages__icon')
                        span.trusted-price-advantages__text Sit amet consect
                    .trusted-price-advantages__item
                        +icon('check', 'trusted-price-advantages__icon')
                        span.trusted-price-advantages__text Eturadipiscing elit
                    .trusted-price-advantages__item
                        +icon('check', 'trusted-price-advantages__icon')
                        span.trusted-price-advantages__text Psum dolor
            .trusted-price__item
                .trusted-price__item-icon-wrapper
                    span.trusted-price__item-icon.trusted-price__item-icon--3
                span.trusted-price__item-text High Budget Trip
                .trusted-price__item-cost $500
                .trusted-price__item-advantages.trusted-price-advantages
                    .trusted-price-advantages__item
                        +icon('check', 'trusted-price-advantages__icon')
                        span.trusted-price-advantages__text Lorem ipsum dolor
                    .trusted-price-advantages__item
                        +icon('check', 'trusted-price-advantages__icon')
                        span.trusted-price-advantages__text Sit amet consect
                    .trusted-price-advantages__item
                        +icon('check', 'trusted-price-advantages__icon')
                        span.trusted-price-advantages__text Eturadipiscing elit
                    .trusted-price-advantages__item
                        +icon('check', 'trusted-price-advantages__icon')
                        span.trusted-price-advantages__text Psum dolor


