section.trusted-since-s
    .trusted-since
        .trusted-since__wrapper
            .trusted-since__item.trusted-since__item--left
            .trusted-since__item.trusted-since__item--right(style="background: center/cover no-repeat url('static/images/content/trusted-since-bg.jpg')")
                .trusted-since__header
                    h1.title-section.title-section--big Trusted Since 2001
                    h1.title-section.title-section--small We are Exploore
                .trusted-since__descr.text-section Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                .trusted-since__advantages.advantages
                    .advantages__item
                        .advantages__icon-wrapper
                            +icon('check', 'advantages__icon')
                        span.advantages__text.text-section Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                    .advantages__item
                        .advantages__icon-wrapper
                            +icon('check', 'advantages__icon')
                        span.advantages__text.text-section Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                    .advantages__item
                        .advantages__icon-wrapper
                            +icon('check', 'advantages__icon')
                        span.advantages__text.text-section Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.