footer { 
    flex: 0 0 auto;
    font-size: 17px;
    background-color: $secondary-color;
    font-family: 'lato_medium';
    text-align: center;
    padding: 60px 0 70px 0;
    letter-spacing: 0.42px;
}