extends layout/main

block variables
	-var title = 'Главная страница'

block content
	include pages/find-hotels
	include pages/trusted-since
	include pages/best-services
	include pages/trusted-price
	include pages/trusted-info
	include pages/pack
	include pages/trusted-travel
	include pages/offer
	include pages/reviews
	include pages/contact
	
